extends layout

block content
  h1= title
  p Welcome to our test

  // Wrapper
  #wrapper

    // USER INFO
    div#userInfo
      h2 User Info
      p
        strong Name:
        | <span id='userInfoName'></span>
        br 
        strong Age:
        | <span id='userInfoAge'></span>
        br 
        strong Gender:
        | <span id='userInfoGender'></span>
        br
        strong Location:
        | <span id='userInfoLocation'></span>
      button.btnBackUserList return

    // USER LIST
    div#userList
      h2 User List

      table
        thead
          th UserName
          th Email
          th Delete?
        tbody
      button#btnCallAddUser Add User
    // /USER LIST
    // ADD USER
    div#addUser
      h2 Add User
      fieldset
        input#inputUserName(type='text', placeholder='Username')
        input#inputUserEmail(type='text', placeholder='Email')
        br
        input#inputUserFullname(type='text', placeholder='Full Name')
        input#inputUserAge(type='text', placeholder='Age')
        br
        input#inputUserLocation(type='text', placeholder='Location')
        input#inputUserGender(type='text', placeholder='gender')
        br
        button#btnAddUser Add User
        button.btnBackUserList return
    // /ADD USER
  // /WRAPPER 
